<div id="notes_container">
  <table id="notes_table">
    <tr>
      <td id="c"></td>
      <td id="d"></td>
      <td id="e"></td>
      <td id="f"></td>
      <td id="g"></td>
      <td id="a"></td>
      <td id="b"></td>
      <td id="c5"></td>
    </tr>
  </table>
  <form id="keychoice" method="get" action="/">
    <input type="submit" value="Choose A Key"><br>

    <input type="radio" name="key" value="cMajor">C Major<br>
    <input type="radio" name="key" value="cSharpMajor">C# Major<br>
    <input type="radio" name="key" value="dMajor">D Major<br>
    <input type="radio" name="key" value="dSharpMajor">D# Major<br>
    <input type="radio" name="key" value="eMajor">E Major<br>
    <input type="radio" name="key" value="fMajor">F Major<br>
    <input type="radio" name="key" value="fSharpMajor">F# Major<br>
    <input type="radio" name="key" value="gMajor">G Major<br>
    <input type="radio" name="key" value="gSharpMajor">G# Major<br>
    <input type="radio" name="key" value="aMajor">A Major<br>
    <input type="radio" name="key" value="aSharpMajor">A# Major<br>
    <input type="radio" name="key" value="bMajor">B Major<br>
    <input type="radio" name="key" value="cMajor">C Major<br>
  </form>
</div>