<div id="notes_container">
  <table id="notes_table">
    <tr>
      <td id="c">C</td>
      <td id="d">D</td>
      <td id="e">E</td>
      <td id="f">F</td>
      <td id="g">G</td>
      <td id="a">A</td>
      <td id="b">B</td>
      <td id="c5">C</td>
    </tr>
  </table>
</div>